{% extends 'base.html' %}
{% block titulo_nav %}
Painel de Controle
{% endblock %}
{% block principal %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Total de Stands</h5>
        <p class="card-text">{{ total_stands }}</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Total de Reservas</h5>
        <p class="card-text">{{ total_reservas }}</p>
    </div>
</div>
{% endblock %}
